<div class="row field--name-body">
  <div class="col-sm-6">
    <h5>Optik Litsch</h5>
    Mainzer Straße 36<br>
    65185 Wiesbaden<br>
    Tel.: <a href="tel:+49611377067">0611 / 37 70 67</a><br>
    Fax.: 0611 / 37 70 68<br>
    E-Mail: <a href="mailto:mail@optik-litsch.de">mail@optik-litsch.de</a><br><br><br>
  </div>
  <div class="col-sm-6">
    <h5>Öffnungszeiten</h5>
    Montag - Freitag  9:30 h - 18:30 h<br>
    Samstag 10:00 h - 14:00 h
  </div>
</div>

{{ form }}
