{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if content %}
    <nav class="tabs col-sm-9 col-lg-push-3 admin-navbar" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
