.main-menu-container {
  max-width: 100%;

  .main-menu-wrapper {
    padding: 0;

    li:first-child {

      a {
        padding-left: 0;
      }
    }
  }
}

.forest-picture {
  margin-bottom: 15px;
}

.block-views-blocknode-sidebar-picture-block-1,
.field--name-field-block-picture {
  margin-top: 200px;
}

#block-litsch-footer ul.menu.nav {
  background: $dark-green;
  text-align: right;

  a {
    color: $white;
  }
}

.block-block-content6c1cc96c-6341-4e31-bf7c-85eae2c5fd35 {
  margin-bottom: 15px;
}
