.main-menu-container {
  max-width: 100%;

  .main-menu-wrapper {
    padding: 0;

    li:first-child {

      a {
        padding-left: 0;
      }
    }
  }
}

.forest-container {
  margin-top: -1px;

  @media #{$mobile} {
    margin-left: -20px;
    margin-right: -20px;
  }

  .forest-picture {
    margin-bottom: 20px;
  }
}


.block-views-blocknode-sidebar-picture-block-1,
.field--name-field-block-picture {
  margin-top: 20px;

  @media #{$tablet} {
    margin-top: 200px;
  }
  
  @media #{$mobile} {
    img {
      margin: 0 auto;
    }
  }
}

#block-litsch-footer {
  background: $dark-green;
  @media #{$mobile}  {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .footer-menu-left {
    color: white;
    padding: 10px 15px;
    
    a {
      color: white;
    }
  }

  ul.menu.nav {
    text-align: right;
    float: right;

    a {
      color: $white;
    }
  }
}

.block-block-content6c1cc96c-6341-4e31-bf7c-85eae2c5fd35 {
  margin-bottom: 15px;
}

.left-sidebar {
  padding-right: 0;
}
