/**
 * Navbar styling.
 */

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}
.navbar.container {
  border: none;

  .name.navbar-brand {
    display: none;
  }

  @media #{$tablet} {

    .navbar-header {
      width: 25% !important;
      min-height: 1px;
      position: relative;
      text-align: center;
      z-index: 2;

      .logo-big {
        position: absolute;
        left: 0;
        width: 225px;
        padding: 0 30px;
        top: 50px;
      }
    }

    > .navbar-collapse {

      ul.navbar-nav {
        position: relative;
        padding-left: 10px;

        .caret {
          display: none;
        }

        > li {
          position: initial;
          
          &:first-child a.is-active {
            background: #eee;
          }

          >.dropdown-menu {
            width: 100%;
            display: block;
            border: none;
            background: rgba(255,255,255,0.9);
            box-shadow: none;

            li {
              float: left;
            }
          }
        }

        ul.dropdown-menu {
          display: block;
          width: 720px;
        }
      }
    }
  }

  @media #{$mobile} {
    .navbar-header {
      background: $dark-green;

      .logo {
        margin-left: 20px;
      }

      .navbar-toggle {
        margin-top: 15px;

        .icon-bar {
          background: $white;
        }
      }
    }
  }
}


.admin-navbar {
  margin-top: 40px;
  
  .nav-tabs>li.active>a, 
  .nav-tabs>li.active>a:hover, 
  .nav-tabs>li.active>a:focus {
    background: #eee;
  }
}